.MainBox {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    .TitleDetails {
        display: flex;
        align-items: center;
        background-color: rgb(99, 128, 207);
        justify-content: space-between;
        padding: 0 1rem;
        border-radius: 8px 8px 0 0;
        height: 3rem;
        .Details {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
    .ImgBox {
        padding: 1rem;
        text-align: center;
        img {
            border-radius: 8px;
            width: 30%;
            height: auto;
        }
    }
    .Content {
        padding: 1rem 2rem;
    }
    .Like{
        cursor: pointer;
        text-align: center;
        position: relative;
        .CountLike {
            position: absolute;
            top: 0.2rem;
            left: 0.3rem;
            font-size: 17px;
        }
        img {
            width: 37px;
            margin: 0.5rem;
        }
    }
}