.MainBox {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    .TitleDetails {
        display: flex;
        align-items: center;
        background-color: #ececec;
        justify-content: space-between;
        padding: 0 1rem;
        border-radius: 8px 8px 0 0;
        min-height: 45px;
        .Details {
            display: flex;
            align-items: center;
            justify-content: space-around;
            @media screen and (max-width: 680px) {
                padding-top: 1rem;
            }
        }
        @media screen and (max-width: 680px) {
            display: block;
            padding: 1rem;
        }
    }
    .ImgBox {
        padding: 1rem;
        text-align: center;
        img {
            border-radius: 8px;
            width: 30%;
            height: auto;
        }
    }
    .Content {
        padding: 1rem 2rem;
    }
    .rate {
       span {
            position: relative;
            top: -0.5rem;
            right: -1.2rem;
       }
    }
}