.MainBox {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    .TitleDetails {
        display: flex;
        align-items: center;
        background-color: rgb(99, 128, 207);
        justify-content: space-between;
        padding: 0 1rem;
        border-radius: 8px 8px 0 0;
        height: 3rem;
        .Details {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
    .ImgBox {
        padding: 1rem;
        text-align: center;
        img {
            border-radius: 8px;
            width: 30%;
            height: auto;
        }
    }
    .Content {
        padding: 1rem 2rem;
    }
    .rate {
       span {
            position: relative;
            top: -0.5rem;
            right: -1.2rem;
       }
    }
}